/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}


section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	padding-bottom: 25px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav ul li a {
	text-decoration: none;
	color: #000000;

}

nav ul li:last-child img {
	width: 20px;
	height: auto;
  }



li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	padding: 3% 10% 5% 10%;
	gap: 5%;
}



#introduction img {
	position: relative;
	display: block;
	width: 474px;
	height: 355px;
	top: 17%;
	right: 5%;
}

#introduction article {
	max-width: 42%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/****CSS de mes btn****/
#portfolio .filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
	color: #1D6154;
}

#portfolio li {
	border: 1px solid #1D6154;
	border-radius: 20px;
	padding: 8px 10px;
	transition: all 400ms;
	cursor: pointer;
	list-style: none;
}

#portfolio .focusBtn {
	background-color: #1D6154;
	color: #FFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 95%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

#forgottenmdp {
	display: flex;
	justify-content: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/**Mode Edition**/
.blackspace {
	width: 100%;
	height: 50px;
	background-color: #000000;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}



#portfolio {
	position: relative;

}

.modifier {
	cursor: pointer;
	display: flex;
	gap: 7px;
	position: absolute;
	right: 380px;
	top: 10px;
}

.modifier i {
	font-weight: 400;
	width: 15px;
	color: black;
}


/**Modale**/

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #333333b7;
	display: none;
}

.modale {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	width: 630px;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: #FFF;
	padding-bottom: 40px;
}

.modale h3,
.modifyWork h3 {
	font-size: 26px;
	font-weight: 400;
	padding-top: 50px;
}

.galleryModal {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	padding: 70px 100px;
	gap: 15px;
}

.modale hr {
	width: 70%;

}

.containerModal {
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, 0.3);
}

#btnAdd {
	background-color: #1D6154;
	color: #FFF;
	border-radius: 20px;
	width: 237px;
	font-weight: 700;
	font-size: 14px;
	font-family: Syne;
	border: transparent;
	cursor: pointer;
	padding: 10px 20px;
	position: relative;
	left: 28%;
	top: 50%;
	margin-top: 20px;
}

#btnSubmit {
	background-color: grey;
	color: #FFF;
	border-radius: 20px;
	width: 237px;
	font-weight: 700;
	font-size: 14px;
	font-family: Syne;
	border: transparent;
	cursor: not-allowed;
	padding: 10px 20px;
	position: relative;
	left: 50%;
	bottom: 15px;
	margin-top: 20px;
}

#btnSubmit.enabled {
	background-color: #1D6154;
	cursor: pointer;
}

.modifyWork hr {
	width: 100%;
	position: relative;

}


#uploadImage {
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	margin: 100px 105px 0 105px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 3px;
	display: none;
}

#previewImage {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #e8f1f6;

}

#imgPreview {
    width: 33%;
    height: 100%;
	object-fit: contain;
	display: none;
}

.close {
	position: absolute;
	top: 18px;
	right: 20px;
	transform: translate(-50%, 50%);
	cursor: pointer;
}

.arrowReturn {
	position: absolute;
    top: 18px;
    left: 20px;
    transform: translate(-50%, 50%);
    cursor: pointer;
}

.galleryModal figure {
	position: relative;
}

.galleryModal i {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #000000;
	color: white;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}

.galleryModal img {
	width: 76px;
	height: 102px;
}

.modifyWork {
	top: 50%;
	left: 50%;
	position: absolute;
	border-radius: 10px;
	width: 630px;
	transform: translate(-50%, -50%);
	height: 688px;
	border: 1px solid rgb(194, 194, 153);
	text-align: center;
	background-color: #FFF;
	position: fixed;
	z-index: 10;
}

.modifyWork form {

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.modifyWork form label {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	margin-bottom: 5px;
	margin-top: 10px;
}

#title {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
}

#select {
	width: 420px;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 15px;
}

#previewImage {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #e8f1f6;
}

.modifyWork form p {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	width: 173px;
	height: 36px;
	color: #306685;
	background: #cbd6dc;
}

.modifyWork form i {
	font-size: 76px;
	color: #cbd6dc;
}

.modifyWork form span {
	color: #444444;
}

.modifyWork div {
	margin: 67px 105px 0 105px;
	border-radius: 3px;
	bottom: 60px;
    position: relative;
}

.enabled {
	background-color: green;
	cursor: pointer;
  }

.disabled {
	background-color: grey;
	cursor: not-allowed;
  }

.modale button,
.modifyWork button {
	display: inline;
	background-color: #1D6154;
	color: #FFF;
	border-radius: 20px;
	width: 237px;
	height: 36px;
	font-weight: 700;
	font-size: 14px;
	font-family: Syne;
	border: transparent;
	cursor: pointer;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}